html,
button,
input,
select,
textarea {
    color: #e72116;
	font-family: 'Pathway Gothic One', Helvetica, Arial, sans-serif;
}

body {
	background: #e72116;
    font-size: 1.22em;    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */
   
   /*map placeholder*/
.mapPlaceholder {
    left: -30px;
    position: relative;
    top: -330px;
    transform: rotate(-3deg);
}

   
ul, ol, ul li {
    display: block;
    float: left;
    list-style-type: none;
	list-style: none !important;
    margin: 0;
    padding: 0;
}

#container {
    background: url("../img/background.gif") repeat scroll 0 0 transparent;
    bottom: -20px;
    height: 1300px;
    margin: 0 auto;
    padding: 0;
    position: relative;
    top: 0;
    width: 100%;
}

#inner{
	height: auto;
	margin: 0 auto;
	text-align: left;
	width: 1005px;
}

.headerWrapper{
	background: #3e0000;.
	height: 50px;
}

.header > a {
    display: block;
    float: left;
    margin-top: 10px;
}

div#container div.headerWrapper div.header {
    background: none repeat scroll 0 0 #3E0000 !important;
    display: block;
    height: 50px;
    margin: 0 auto;
    padding-left: 680px;
    width: 500px;
}

.header > img {
    display: block;
    float: left;
    margin: 13px 0 0;
}

.topnav {
	color: white;
    display: block;
    float: left;
    margin: 12px 0 0 20px;
    padding: 0;
	list-style: none;
}

.topnav > li {
    color: #E72116;
    display: block;
    float: left;
    margin: 0 6px 0 0;
}

.underline {
    text-decoration: underline;
}

li.share {
    float: left;
    left: 30px;
    list-style: none outside none;
    margin-right: 20px;
    position: relative;
    top: 12px;
}

.twitter {
    display: block;
	float:left;
    margin: 8px 0px 0px 10px;
}
.facebook{
	display: block;
	float: left;
	margin: 8px 0px 0px 5px;
}

.pizza01 {
    clear: both;
    display: block;
    float: left;
    position: relative;
    top: -50px;
}

.pizza02 {
    float: right;
    position: relative;
    top: -215px;
}

.pizza03 {
    clear: both;
    display: none;
    float: left;
    position: relative;
    top: -550px;
}

.topCities {
    display: block;
    margin-left: 140px;
    position: relative;
    top: 20px;
}

.tweetBubble {
    display: block;
    float: right;
    left: 25px;
    position: relative;
    top: 25px;
}

#voteDetails {
    clear: both;
    margin: -389px -15px 0 0;
}

#streamBox {
    background: none repeat scroll 0 0 #000000;
    clear: both;
    float: right;
    height: 615px;
    opacity: 0.851;
    overflow: hidden;
    position: relative;
    top: -215px;
    width: 494px;
}

#voteDetails > ul {
    color: #FFFFFF;
    display: block;
    margin-left: 140px;
    margin-top: 25px;
    position: absolute;
    width: 330px;
}

.dateTime {
    color: #3E0000;
    font-family: Arial,sans-serif;
    font-size: 14px;
    font-weight: bold;
    left: 30px;
    list-style: none outside none;
    position: absolute;
    top: -6px;
}

.city01, .city02, .city03, .city04, .city05, .city06 {
    clear: both;
    display: block;
    float: left;
    left: -20px;
    position: relative;
    top: -7px;
}

#voteDetails ul span {
    display: inline-block;
    left: 48px;
    position: relative;
    top: -12px;
}

ul span li p {
    clear: both;
    color: #000000;
    display: block;
    float: left;
    font-size: 14px;
    left: 85px;
    margin: 0;
    padding: 0;
    position: absolute;
}

#voteDetails ul span#city01 li.city01, #voteDetails ul span#city01 li.city02, #voteDetails ul span#city01 li.city03, #voteDetails ul span#city01 li.city04, #voteDetails ul span#city01 li.city05, #voteDetails ul span#city01 li.city06 {
    display: inline-block;
    float: left;
    font-size: 50px;
    font-weight: bold;
    line-height: 25px;
    margin: 12px 0 0;
    padding: 0;
}

p.votePop {
    display: inline-block;
    float: right;
    left: 25px;
    margin-left: -20px;
    margin-top: 10px;
    padding: 0;
    position: relative;
    top: 1px;
}

span#city01 {
    display: inline-block;
    float: left;
}

span#city02{
	display: inline-block;
	float: right;
}

#voteDetails ul span #astrix {
    display: block;
    float: left;
    font-size: 24px;
    left: -30px;
    margin: 0;
    padding: 0;
    position: relative;
    top: 28px;
}

.cityDetails {
    width: 260px;
}

#footer {
    background: none repeat scroll 0 0 #3E0000;
    display: block;
    float: left;
    height: 50px;
    position: relative;
    top: 0;
    width: 100%;
}

/* Map CSS*/
div.container div#map-container div#map svg path{
fill: #000000 !important;
}

/*Stream CSS*/
.entity-sidebar .flag {
    display: none;
    position: absolute;
    vertical-align: top;
}



.entity-avatar-img {
    border-radius: 5px 5px 5px 5px;
    clear: both;
    float: left;
    margin-left: 20px;
    margin-right: 10px;
}

.entity-primary-name {
    color: #E72116;
    float: left;
    font-family: Arial,sans-serif;
    font-size: 11px;
    font-weight: bold;
    margin: -2px 0 0;
    text-decoration: none;
}

.entity-secondary-name {
    float: left;
    font-family: Arial,sans-serif;
    font-size: 11px;
    font-weight: bold;
    margin: -1px 0 0 8px;
}

.entity-author {
    float: left;
}

.entity-text {
    color: #CCCCCC;
    float: left;
    font-family: Arial,sans-serif;
    font-size: 11px;
    width: 80%;
}

.status-link-user.tweet-url.username {
    color: #FFFFFF;
}

.entity-meta {
    clear: both;
    color: #FFFFFF;
    float: left;
    margin: 0;
}

.tr-via {
    display: none;
}

.tr-author-location {
    float: left;
    font-family: Arial,sans-serif;
    font-size: 11px;
    font-weight: bold;
    margin-left: 10px;
}

.status-link-search.tweet-url.hashtag {
    color: #FFFFFF;
}

.entity-actions {
    border: 0 none;
    display: none;
    margin: 0;
    padding: 0;
}

.entity-permalink {
	color: #e72116;
    display: block;
    float: right;
    font-family: Arial,sans-serif;
    font-size: 12px;
    font-weight: bold;
    margin: 0;
    padding: 0;
    position: relative;
    right: -420px;
    top: -50px;
    width: 50px;
}

.entity-created-at.relative-date {
    color: #E72116;
    text-decoration: none;
}

.entity-retweeted-by-user {
    color: #E72116;
    font-family: Arial,sans-serif;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
}

.entity-retweeted-by {
    font-family: Arial,sans-serif;
    font-size: 12px;
    font-weight: bold;
}

.js-display-url {
    color: #E72116;
    text-decoration: none !important;
}

#pollDetails {
    color: #FFFFFF;
    display: block;
    font-size: 16px;
    font-weight: bold;
    margin: 0 0 10px 20px;
    letter-spacing: 1px;
}

circle {
    fill: #FFFFFF;
}

.underline > a {
    color: #E72116;
}

/*
Splash page
*/
.splash {
    top: 0 !important;
}

.pizzaLarge {
    display: block;
    float: left;
    margin: -61px 0 0 -100px;
    padding: 0;
}

.pizzaCopy {
    display: block;
    float: left;
    left: -80px;
    position: relative;
    top: 130px;
}

#inner.innerSplash {
    display: block;
    height: auto;
    margin: 0 auto;
    position: relative;
    text-align: left;
    top: -110px;
    width: 1050px;
    z-index: 10;
}

.pizzaSteps {
    clear: both;
    display: block;
    margin: 0 auto;
    position: relative;
    top: -130px;
}

#container.splash {
    height: auto;
}

#headerAcent {
    background: none repeat scroll 0 0 #3E0000;
    height: 110px;
    position: relative;
    z-index: 3;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}